@model IEnumerable<DatabaseRemoto.Models.goal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.minuto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPenalty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isOwnGoal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.match.round)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.player.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.team.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.minuto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isPenalty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isOwnGoal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.match.round)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.player.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.team.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
