@model IEnumerable<DatabaseRemoto.Models.goal>

@{
    ViewBag.Title = "Index";
}

<h2>@Model.First().player.name</h2>

<table class="table">
    <tr>
        <th>
            Partita
        </th>
        <th>
            Risultato
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.match.team.name) - @Html.DisplayFor(modelItem => item.match.team1.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.match.goalsHome) - @Html.DisplayFor(modelItem => item.match.goalsAway)
        </td>
    </tr>
}

</table>
