@model DatabaseRemoto.Models.match

@{
    ViewBag.Title = "Details";
}

<div style="margin-top: 10px">
    @*<h1 style="text-align: center"> 
        @Model.team.name - @Model.team1.name
    </h1>
    <h2 style="text-align: center"> 
        @Model.goalsHome : @Model.goalsAway
    </h2>*@

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">@Model.team.name @Model.goalsHome</h3>
                </div>
                <div class="panel-body">
                    @foreach (var goal in Model.goals.Where(x=> x.idTeam == Model.team.id))
                    {
                        <div class="row">
                            <div class="col-md-2">@goal.minuto</div>
                            <div class="col-md-5">@Html.ActionLink(@goal.player.name, "Index", "players", new { id = goal.idPlayer }, null)</div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">@Model.team1.name @Model.goalsAway</h3>
                </div>
                <div class="panel-body">
                    @foreach (var goal in Model.goals.Where(x => x.idTeam == Model.team1.id))
                    {
                        <div class="row">
                            <div class="col-md-2">@goal.minuto</div>
                            <div class="col-md-5">@Html.ActionLink(@goal.player.name, "Index", "players", new { id = goal.idPlayer },null)
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>





    
</div>


