@using DatabaseRemoto.Models 
@model ViewModelCampionato

@{
    ViewBag.Title = "Partite";
}
<h2>Classifica Campionato</h2>
    @foreach(var item in Model.Squadre)
    {
        <div>@item.Nome @item.Punti</div>
    }
}






@*<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">@Model.First().competition.season.season1</th>
            <th scope="col">Column heading</th>
            <th scope="col">Column heading</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-active">
            <th scope="row">Active</th>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr>
            <th scope="row">Default</th>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr class="table-primary">
            <th scope="row">Primary</th>
            <td>Column content</td>
            <td>Column content</td>
        </tr>

</table>
<h2>Partite Stagionali</h2>

<div class="row">
    <div class="col-md-6">
        <div id="casadiv" style="background-color:red;width:100px"></div>
    </div>
    <div class="col-md-6">

        <div id="trasfertadiv" style="background-color:blue;width:100px"></div>
    </div>
</div>

<table id="tabella" class="table">
    <tr>
        <th>
            Risultato
        </th>
        <th>
            Data
        </th>
        <th>
            Giornata
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.team.name)
                @Html.DisplayFor(modelItem => item.goalsHome)
                -
                @Html.DisplayFor(modelItem => item.team1.name)
                @Html.DisplayFor(modelItem => item.goalsAway)
            </td>
            <td>
                @item.date.Value.Day/@item.date.Value.Month/@item.date.Value.Year
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.round)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.id })
            </td>
        </tr>
    }
</table>*@
@*@section scripts{
    <script>

        $(document).ready(function () {
            var elencoTr = $("tr");
            for (var i = 0; i < elencoTr.length; i++) {
                valutaColore(elencoTr[i].innerText, elencoTr[i]);
            }

            var goalcasa = $('#casa').text();
            $('#casadiv').height(goalcasa / 10);

            var goaltrasferta = $('#trasferta').text();
            $('#trasfertadiv').height(goaltrasferta / 10);

        });
        function valutaColore(testo, puntatore) {
            if (testo.search("Roma") > -1) {
                $(puntatore).css("background-color", "red").css("color", "yellow");
            }
            else if (testo.search("Lazio") > -1) {
                $(puntatore).css("background-color", "blue").css("color", "white");

            }
            else if (testo.search("Juventus") > -1) {
                $(puntatore).css("background-color", "brown").css("color", "white");
            };
        }

    </script>
    }*@




